<% provide(:title, @user.name) %>

<div class="col">
  <!-- 見出し -->
  <h1>勤怠ログ</h1>

  <!--  入力フォームをform_withで作成  -->
  <div id="edited-table-request">
    <%= form_with url: user_attendance_edit_requests_edited_table_path do |f| %>
      <!--  入力フォーム  -->
      <%= select_year(Date.today) %><br>
      <%= select_month(Date.today)%>
      <!--  送信ボタン  -->
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <!--  デフォルトで表示されている内容  -->
  <div id="edited-table">
    <!--  デフォルト無し。年月を選択した勤怠ログ（承認済）が表示される。  -->
  </div>
</div>